<button mat-stroked-button color="primary" routerLink="/home">Salir</button>

<mat-grid-list
  [cols]="breakpoint"
  rowHeight="2:1"
  class="banner-content"
  (window:resize)="onResize($event)"
>
  <mat-grid-tile>
    <mat-card class="card-container">
      <mat-card-content>
        <mat-card-title class="title-center">Operator</mat-card-title>
        <form [formGroup]="valueFormControl">
          <mat-form-field appearance="fill" style="width: 300px">
            <mat-label class="title-left">Valor</mat-label>
            <input matInput formControlName="value" class="title-left" />
          </mat-form-field>
          <button mat-stroked-button color="primary" (click)="addValue()">
            Agregar
          </button>
        </form>
        <form [formGroup]="operatorFormControl">
          <mat-form-field appearance="fill" style="width: 300px">
            <mat-label class="title-left">Operador</mat-label>
            <input matInput formControlName="operator" class="title-left" />
          </mat-form-field>
          <button mat-stroked-button color="primary" (click)="doOperate()">
            Operar
          </button>
          <button mat-stroked-button color="primary" (click)="getList()">
            Ver Lista
          </button>
          <button mat-stroked-button color="primary" (click)="cleanList()">
            Limpiar
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="card-container">
      <mat-card-content>
        <mat-card-title class="title-center">Resultado</mat-card-title>
        <mat-label class="title-left">{{ result }}</mat-label>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
